body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section,
.task-form,
.task-table {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-logo {
  max-height: 200px;
}

.login-section,
.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-section {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.task-form-section {
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
}

.task-table-section {
  flex: 2;
  margin-right: 50px;
}

.team-row-container-one,
.team-row-container-two {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: row;
}

.team-member-ryan,
.team-member-halima,
.team-members,
.team-member-kar,
.team-member-jessie,
.team-member-rachel {
  margin: 10px;
}

.team-member-ryan-photo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #00a651;
}

.team-member-ryan-text {
  color: #00a651;
}

.team-logo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-color: #000000;
}

.team-text {
  color: #000000;
}

.team-member-jessie-photo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #0000ff;
}

.team-member-jessie-text {
  color: #0000ff;
}

.team-member-halima-photo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #92278f;
}

.team-member-halima-text {
  color: #92278f;
}

.team-member-rachel-photo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #ff00ff;
}

.team-member-rachel-text {
  color: #ff00ff;
}

.team-member-kar-photo {
  max-height: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #ff0000;
}

.team-member-kar-text {
  color: #ff0000;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: fixed;
  margin-top: 45px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}